@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #333333; /* Füme rengi HEX kodu */
        color: #ffffff;
    }
</style>

<div class="text-center">
    <h1 class="display-4">MovieLib♥</h1>
</div>
